#accessrestriction-dashboard .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
    #accessrestriction-dashboard .buttons > div {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

        #accessrestriction-dashboard .buttons > div + div {
            flex: 2;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
        }

#icon-wrong-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 4px;   
    color: red;
    background-color: rgb(252, 215, 217);
    height: 20px;
    width: 20px;
}

    #icon-wrong-container svg {
        width: 100%;
        fill: red;
    }

